<?xml version="1.0"?>

<model>
  <name>tbot</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Luc</name>
    <email>nomail@mail.org</email>
  </author>

  <description>
    A model of the turtlebot
  </description>

  <depend>
    <model>
      <uri>model://kinect</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://hokuyo</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://kobuki</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
